{% extends "layout.html" %}
{% block title %}{% for name, description, added, updated, added_by in cafe %}{{name}}{% endfor %}{% endblock %}
{% block content %}
		<p><a href="/newcafe">Add new café</a></p>
		<p><a href="/tags">Browse cafés by tag</a></p>
		<p><a href="/search">Search cafés</a></p>
		<hr>
		{% for name, description, added, updated, added_by in cafe %}
        {{ name }}<br />
        {% for line in description.split('\r\n') %}
			{{ line }}<br />
		{% endfor %}
		Added on {{ added.strftime("%Y-%m-%d, %H:%M") }} by {{ added_by }}<br />
		Last updated on {{ updated.strftime("%Y-%m-%d, %H:%M") }}<br />
		{% endfor %}
		{% for id, tag in tags %}
		<a href="/tag?id={{ id }}">{{ tag }}</a>
		{% endfor %}
        <hr>
		{% if session.username %}
		<form action="/sendreview" method="POST" onsubmit="return check(this)">
            <p>Review: <br>
            <textarea name="review" rows="3" cols="40"></textarea></p>
			<input type="hidden" name="cafe_id" value="{{ id }}">
			<input type="hidden" name="author" value="{{ session.user_id }}">
			<input type="hidden" name="token" value="{{ session.token }}">
            <br>
            <input type="submit" value="Post">
        </form>
		<script>
		function check(form) {
			if (form.review.value.length > 2000) {
				alert("Your review is too long, please keep it below 2000 characters");
				return false;
			}
			return true;
		}
		</script>
		<hr>
		{% endif %}
		{% for author, review, added in reviews %}
			{% for line in review.split('\r\n') %}
			{{ line }}<br />
			{% endfor %}
            Author: {{ author }}<br />
			Posted on: {{ added.strftime("%Y-%m-%d, %H:%M") }}<br />
			<hr>
		{% endfor %}
{% endblock %}
