{% extends "layout.html" %}
{% block content %}
		<p><a href="/newcafe">Lisää kahvila</a></p>
		<hr>
		{% for name, description in cafe %}
        {{ name }}<br />
        {% for line in description.split('\r\n') %}
			{{ line }}<br />
		{% endfor %}
		{% endfor %}
        <hr>
		{% if session.username %}
		<form action="/sendreview" method="POST">
            <p>Review: <br>
            <textarea name="review" rows="3" cols="40"></textarea></p>
			<input type="hidden" name="cafe_id" value="{{ id }}">
			<input type="hidden" name="author" value="{{ session.user_id }}">
            <br>
            <input type="submit" value="Post">
        </form>
		<hr>
		{% endif %}
		{% for author, review in reviews %}
			{% for line in review.split('\r\n') %}
			{{ line }}<br />
			{% endfor %}
            Author: {{ author }}<br />
			<hr>
		{% endfor %}
{% endblock %}
