{% extends "layout.html" %}
{% block title %}add new cafe{% endblock %}
{% block content %}
        {% if session.username %}
        <form action="/send" method="POST" onsubmit="return check(this)">
            <p>Name<br />
            <input type="text" name="name"></p>
            <p>Description: <br>
            <textarea name="description" rows="3" cols="40"></textarea></p>
            <input type="hidden" name="token" value="{{ session.token }}">
            <br>
            <input type="submit" value="Submit">
        </form>
        <script>
        function check(form) {
            if (form.name.value.length > 50) {
                alert("The name you provided is too long");
                return false;
            }
            if (form.description.value.length > 5000) {
                alert("Please keep your description below 5000 characters");
                return false;
            }
            return true;
        }
        </script>
        {% else %}
        <p>You must be signed in to access this page.</p>
        {% endif %}
{% endblock %}