{% extends "layout.html" %}
{% block content %}
        {% if session.username %}
        <form action="/send" method="POST">
            <p>Nimi<br />
            <input type="text" name="name"></p>
            <p>Kuvaus: <br>
            <textarea name="description" rows="3" cols="40"></textarea></p>
            <br>
            <input type="submit" value="Lähetä">
        </form>
        {% else %}
        <p>Pahoittelut, sinun tulee olla kirjautunut käyttääksesi tätä toimintoa.</p>
        {% endif %}
{% endblock %}