<!DOCTYPE html>
<html>
    <head>
        <title>beansorter</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
		<link rel="manifest" href="/static/site.webmanifest">
		<link rel="mask-icon" href="/static/safari-pinned-tab.svg" color="#5bbad5">
		<link rel="shortcut icon" href="/static/favicon.ico">
		<meta name="msapplication-TileColor" content="#b91d47">
		<meta name="msapplication-config" content="/static/browserconfig.xml">
		<meta name="theme-color" content="#afafaf">
    </head>
    <body>
        {% if session.username %}
        <form action="/send" method="POST">
            <p>Nimi<br />
            <input type="text" name="name"></p>
            <p>Kuvaus: <br>
            <textarea name="description" rows="3" cols="40"></textarea></p>
            <br>
            <input type="submit" value="Lähetä">
        </form>
        {% else %}
        <p>Pahoittelut, sinun tulee olla kirjautunut käyttääksesi tätä toimintoa.</p>
        <p><a href="/">Etusivulle</a></p>
        {% endif %}
    </body>
</html>