{% extends "layout.html" %}
{% block title %}{% for name in tag %}{{name}}{% endfor %}{% endblock %}
{% block content %}
		<p><a href="/newcafe">Add new café</a></p>
        <p><a href="/tags">Browse cafés by tag</a></p>
        <p><a href="/search">Search cafés</a></p>
		<hr>
		{% for id, name in tag %}
        <h2>{{ name }}<br /></h2>
		{% endfor %}
        <hr>
		{% for id, name, description in cafes %}
		<h3><a href="/cafe?id={{ id }}">{{ name }}</a></h3>
        <p>{{ description }}</p>
        <hr>
		{% endfor %}
{% endblock %}
